#include <winres.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,5,7,0
PRODUCTVERSION 2,5,7,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Crafting Inventory Extender - SKSE Plugin"
            VALUE "FileVersion", "2.5.7.0"
            VALUE "InternalName", "CraftingInventoryExtender"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "CraftingInventoryExtender.dll"
            VALUE "ProductName", "Crafting Inventory Extender"
            VALUE "ProductVersion", "2.5.7.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
